.dropdown{
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: flex-start;
  gap: 5px;
}

.filters {
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  align-items: flex-start;
  width: 80%;
  gap: 2px;
  background-color: white;
}

.results {
  position: absolute;
  top: 5em;
  left: 1em;
  z-index: -1;
}